version: "2"

services:
  github-exporter:
    build: .
    tty: true
    stdin_open: true
    expose:
      - 9171
    ports:
      - 9171:9171
    environment:
      - REPOS=<REPOS you want to monitor>
      - GITHUB_TOKEN=<your github api token>
